$grid-cell-class : 'cell';
$white : #ffffff;
$turquoise : #80ffe5;
$background : #fafafa;
$navy : #2c70a9;

body{
	background-color : $background;
}

.#{$grid-cell-class}{
	&-12{
		width : 100%;
	}
	&-8{
		width : 66.67%;
	}
	&-4{
		width : 33.33%;
	}
}

.theme{
	&-white{
		background-color : $white;
	}
}

.div-table{
	display: table;
}

.div-cell{
	vertical-align: top;
	display: table-cell;
}

.panel{
	padding : 16px;
	margin : 16px;
}

.panel-header,
.panel-date,
.panel-title{
	margin : 8px 0;
}

.link-learn-more{
	color : $navy;
	display : block;
}

.section-image{
	max-width : 300px;
	max-height : 200px;
}

@mixin reset{
	margin : 0;
	text-decoration : none;
	list-style : none;
}

@for $num from 1 through 6 {
	h#{$num} {  
		@include reset;
	}
}

a, ul{
	@include reset;
}

.nav-list{
	display : table;
	width : 100%;
	table-layout : fixed;
	padding : 0;
	li{
		display : table-cell;
		text-align : center;
		a{
			color : $navy;
			text-transform : uppercase;
			display : block;
			padding : 16px;
		}
		&:hover{
			background-color : $turquoise;
			cursor : pointer;
			a{
				color : $white;
				font-weight : 700;
			}
		}
	}
}

.spinner{
    transition-duration: 2s;
	transform: rotateZ(360deg);
}