$grid-cell-class : 'cell';
$white : #ffffff;
$background : #fafafa;

body{
	background-color : $background;
}

.#{$grid-cell-class}{
	&-12{
		width : 100%;
	}
	&-8{
		width : 66.67%;
	}
	&-4{
		width : 33.33%;
	}
}

.theme{
	&-white{
		background-color : $white;
	}
}

.div-table{
	display: table;
}

.div-cell{
	display: table-cell;
}

.panel{
	margin : 16px;
}

.link-learn-more{
	display : block;
}

.section-image{
	max-width : 300px;
	max-height : 200px;
}

@mixin reset{
	margin : 0;
	text-decoration : none;
}

@for $num from 1 through 6 {
	h#{$num} {  
		@include reset;
	}
}

a{
	@include reset;
}